<div class="container-fluid">
    <div id="" class="tabs is-centered height is-fullwidth"
    #stickyMenu
    [class.sticky] = "sticky">
    <h3>{{title}}</h3>
    </div>
        <div class="input-group">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <input type="search" id="searchedCity"
                placeholder="What're you searching for?" 
                aria-describedby="button-addon1" 
                class="form-control border-0 bg-light"
                required
                [(ngModel)]="locale" name="locale">
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
         <!-- <div class="row" id="city"> -->
        <h3>{{ city }}</h3>
    <!-- </div> -->
    <div class="row">
      <div class="col-lg-6">
        <h3>{{ tempF }}</h3>
      </div>
      <div class="col-lg-6">
        <h3>{{ tempC }}</h3>
      </div>
    </div>
</div>