div {
    text-align: center;
  }
  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
  }
  
  /* searchbar */
  
h3 {
    text-align: center;
}
input {
    width: 100%;
}
.height {
    padding: 50px;
}