<div class="container-fluid">
    <div id="" class="tabs is-centered height is-fullwidth"
    #stickyMenu
    [class.sticky] = "sticky">
    <h3>{{title}}</h3>
    </div><!-- <form class="searchbar"> -->
        <input type="text" 
        class="form-control height input-lg w-75" 
        placeholder="weather in your city"/>
    <!-- </form> -->
    <!-- <div class="row" id="city"> -->
        <h3>{{ city }}</h3>
    <!-- </div> -->
    <div class="row">
      <div class="col-lg-6">
        <h3>{{ tempF }}</h3>
      </div>
      <div class="col-lg-6">
        <h3>{{ tempC }}</h3>
      </div>
    </div>
</div>